.sidebar {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    padding-bottom: 100px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .sidebar-header img {
    display: block;
    margin: 0 auto;
  }
  
  .sidebar-content {
    font-size: 0.9rem;
    align-self: stretch;
  }
  
  .car-link {
    color: #fff;
    background-color: #88e62a;
    padding: 10px;
  }
  
  .sidebar-content li {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar-content li:hover {
    color: #fff;
    background-color: #88e62a;
  }
  
  .sidebar-content a {
    color: #333;
    text-decoration: none;
  }
  
  .social-icons {
    position: absolute;
    bottom: 55px;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  #copyright {
    position: absolute;
    bottom: 5px;
    font-size: 0.8rem;
    padding: 8px;
  }