form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .submit-btn {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #96e318;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #82e129;
  }