.hero {
  min-height: 100vh;
  width: 100%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-form {
  padding-top: 10%;
  background: linear-gradient(#e8e6ea, #dad1d4);
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 400px 140px;
}

.hero-images {
  flex: 1 1 40rem;
  background-image: url(../../img/lifestyle2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 30rem;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
  }

  label input {
    padding-top: 5%;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  button {
    margin-top: 15px;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    background-color: #6fb953;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #82e129;
  }