.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 3rem 0;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 5px;
    margin: 3rem 0;
  }
}
