@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: 'Pacifico', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  background: rgb(73, 230, 52);
  margin-top: 10%;
}
