body {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: row;
}

.books-image {
  width: 50%;
}

.books-image img {
  width: 70%;
  margin-top: 20%;
  margin-left: 20%;
}

.book-props {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  width: 20%;
  padding-left: 1rem;
  margin-top: 15%;
  margin-bottom: 15%;
}

.book-props > :nth-child(even) {
  background-color: rgb(235, 229, 229);
}

.books-name {
  text-align: right;
}

.text {
  padding-top: 1rem;
}

.books-description {
  font-size: 1.5rem;
  text-align: justify;
}

.reserve {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1rem;
}

.btn1 {
  border-radius: 0 20px 20px 0;
  padding: 10px 30px;
  margin-top: 45%;
  padding-left: 0;
  background-color: #88e62a;
  border: none;
  color: #fff;
}

.btn {
  border-radius: 20px 20px 20px 20px;
  margin-top: 30%;
  background-color: #88e62a;
  border: none;
  color: #fff;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .books-image img {
    width: 200px;
    height: 280px;
    padding: 0;
    margin: 0;
  }

  .btn1 {
    display: none;
  }

  .btn {
    border-radius: 20px 20px 20px 20px;
    margin-top: 3rem;
    background-color: #88e62a;
    border: none;
    color: #fff;
    width: 150px;
  }

  .book-props {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    width: 80%;
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .books-description {
    font-size: 2rem;
    text-align: justify;
  }

  .book-props > :nth-child(even) {
    background-color: rgb(177, 175, 175);
  }
}
