body {
  box-sizing: border-box;
}

.single-book {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.books-image {
  width: 70%;
}

.books-image img {
  width: 100%;
}

.bookTitle {
  padding-bottom: 2rem ;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book-props {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 2rem;
}

.book-props > :nth-child(even) {
  background-color: lightgray;
}

.books-description {
  font-size: 0.8rem;
  text-align: justify;
}

.configure {
  margin-top: 50px;
  padding: 10px;
}

.configure button {
  border-radius: 40px;
  background-color: #88e62a;
}
